<hr>
<div class="box-configuration-wrapper">
    <h1 data-bind="i18n:'Box Configurations'"></h1>
    <form data-bind="submit: handleSubmit">
        <table>
            <thead>
            <tr>
                <th data-bind="i18n: 'Units per box'"></th>
                <th data-bind="i18n: 'Number of boxes'"></th>
                <th data-bind="i18n: 'Box weight (lb.)'"></th>
                <th data-bind="i18n: 'Box dimensions (in.)'"></th>
                <th></th>
            </tr>
            </thead>
            <tbody data-bind="foreach: boxConfigurations">
            <tr>
                <td>
                    <input type="number" name="units_per_box" data-bind="textInput:unitsPerBox" />
                </td>
                <td>
                    <input type="number" name="number_of_boxes" data-bind="textInput:numberOfBoxes" />
                </td>
                <td>
                    <input type="number" name="weight" data-bind="textInput:weight" />
                </td>
                <td>
                    <input type="number" name="length" data-bind="textInput:length" />
                    x
                    <input type="number" name="width" data-bind="textInput:width" />
                    x
                    <input type="number" name="height" data-bind="textInput:height" />
                </td>
                <td>
                    <a data-bind="click: $parent.handleDelete.bind($parent, $index)">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <button data-bind="click:handleAdd">Add Box Configuration</button>
        <button type="submit">Confirm</button>
    </form>
</div>

